body{background:#f5f5f5;}
main{
	
	.list_scr{
		width:267px;

		.list_scr_item{
			padding:0 10px;margin-bottom:10px;background:#fff;
			.list_title{
				height:52px;line-height:52px;font-size:14px;cursor:pointer;
				.font_s{font-size:24px;font-family: "宋体";}
			}
			.list_all_s{
				padding-top: 10px;
				li a{
					display:block;padding: 5px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
					.las_c{
						width: 215px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
						span{color:#999;}
					}
					em{float:right;font-style: normal;}
				}
				.clear_all{display:block;background:#fafafa;border:1px solid #e8e8e8;text-align: center;height: 32px;line-height: 32px;margin: 10px 0;}
			}
			.list_cond{
				padding-bottom:10px;border-top:1px solid #e8e8e8;
				.clear_cond{padding-top:15px;text-align:right;}
				.li_cond_q{
					padding-left:5px;
					li{
						a{
							padding:5px 0 5px 20px;display:block;position:relative;
						}
						i{
							display:block;width:14px;height: 14px;background:url(img/listico.gif)no-repeat 0 -14px;position:absolute;left:0;top:7px;
							&.open{background-position:-14px -14px;}
						}

						.li_content{
							padding-left:20px;
							li a{
								i{background-position:0 0;}
								i.check{background-position:-14px 0;}
							}

						}
					}
					.gender_cond{
						i{background-position:0 0;}
					}
					.brand_cond{
						i{background-position:0 0;}
					}
					.color_cond{
						li{
							float:left;width:50%;
							a{
								i{background-position:0 0;}
								span{display:inline-block;margin-right:5px;width:22px;height: 22px;background:url(img/color.gif) no-repeat 0 0;vertical-align: middle;}
							}						
						}
					}
				}
				.price_choose{
					.price_cond{
						padding:15px 0 10px;
						input{padding-left: 3px;width:107px;height: 30px;border:1px solid #ddd;}
						span{margin:0 5px;}
					}
					a{display:block;width: 100%;height: 34px;line-height: 34px;text-align:center;background:#333;color:#fff;}
				}
			}
		}
	}

	.list_pro{
		width:923px;
		.li_pro_tit{
			height: 55px;line-height: 55px;background:#fff;
			.li_screen{
				margin-left: 25px;
				a{
					margin-left: 35px;padding-right: 12px;
					i{
						display:inline-block;margin-left: 2px;width:10px;height:12px;background:url('img/crumbsIco.gif') no-repeat -62px 0;vertical-align:-2px;
						&.asc{background-position: -82px 0;}
						&.desc{background-position: -72px 0;}
					}
				}
			}
		}

		.li_pages{
			margin:18px 20px 0 0;
			a,span{float:left;margin: 0 9px;width: 20px;height: 20px;line-height: 20px;text-align: center;cursor:pointer;}
			.page_prev,.page_next{font-size:0;background:url('img/pagination.gif') no-repeat;}
			.page_prev{background-position: 0 0;}
			.page_prev:hover{background-position: 0 -20px;}
			.page_next{background-position: -20px 0;}
			.page_next:hover{background-position: -20px -20px;}
			span.active{display:block;background:#333;color:#fff;border-radius:2px;}
		}

		.li_pro_con{
			margin-top: 5px;width: 928px;
			li{
				float:left;margin:0 5px 5px 0;padding: 10px;width: 205px;background:#fff;border:1px solid #fff;position:relative;text-align:center;
				a{
					display:block;width: 207px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;
					img{width: 180px;display:inline;}
					&.pro_pic{padding-top: 10px;height: 230px;}
					&.pro_tit{padding:30px 0 20px;height: 40px;border-top: 1px dashed #e8e8e8;line-height: 2;}
				}

				&:hover{box-shadow: 0 0 5px #d9d9d9;border:1px solid #eee;}
				p{
					padding-bottom: 15px;height:26px;color:#999;
					span::before{content:"￥";}
				}
			}
		}
		.li_pages_b{margin-bottom: 20px;padding-top: 5px;}
	}

	.sidebar{
		position:fixed;right:0;bottom:100px;border: 1px solid #ddd;background:#fff;z-index:3;
		li{
			position: relative;
			a{
				display:block;padding-top: 12px;width: 58px;height: 46px;border-bottom:1px solid #ddd;
				i{display:block;margin: 0 auto;width: 35px;height: 35px;background:url('img/consult.png') no-repeat;}
			}
			&:hover{background:#666;}
			&:nth-child(1){
				i{background-position: 0 0;}
				&:hover i{background-position: -35px 0;}
			}
			&:nth-child(2){
				i{background-position: 0 -70px;}
				&:hover i{background-position: -35px -70px;}
			}
			&:nth-child(3){
				i{background-position: 0 -35px;}
				&:hover i{background-position: -35px -35px;}
			}
			&:last-child{
				a{border-bottom:none;}
				i{background-position: 0 -105px;}
				&:hover i{background-position: -35px -105px;}
			}
			
			.side_app_ewm{
				left:-107px;top:-17px;
				.app_ewm_sj{width: 8px;height: 17px;background:url('img/headico.png') -97px -3px no-repeat;top:38px;right:-7px;z-index:2;}
				.app_ewm{padding: 10px;background: #fff;border:1px solid #ececec;}
			}
		}
	}
}