$colorSeach:#999;
$topBg:#fafafa;
$aColor:#666;
$aHover:#333;

		
/*===============头部============*/
header{
	background:#fff;margin-bottom: 20px;
	.top-warp{
		width:100%;height:35px;background:$topBg;border-bottom:1px solid #f5f5f5;
		i{display:inline-block;margin-right:5px;width:20px;height:20px;background:url(img/headico.png) no-repeat;vertical-align:middle;}
		.sanjiao{width:17px;height:8px;z-index:2;position:absolute;}
		li{
			float:left;
			a:hover{color:$aHover;}
		}
		.left{
			margin-top:8px;
			li{margin-right:20px;}
			.down_ewm_app{
				padding-left:20px;border-left:1px solid #d9d9d9;
				i{background-position:-20px 0;}

				.down_app{
					padding:10px;border:1px solid #ececec;text-align:center;background:#fff;z-index:1;top:18px;left:26px;
					a{display:block;}
					i{background-position:-80px -12px;top:-8px;left:50%;margin-left:-8px;}
				}
			}
		}
		.right{
			margin-top:8px;
			li{margin-left:20px;}
			.login_status a{margin-left:20px;}
			.shoping_car{
				padding-left:20px;border-left:1px solid #d9d9d9;
				i{background-position:-40px 0;}

				.header_car{
					padding-top:7px;left:-276px;top:18px;width:383px;z-index:999;
					i{background-position:-80px -12px;top:0;left:50%;margin-left:135px;}
					.header_car_c{
						border:1px solid #e8e8e8;background:#fff;
						p{text-align:center;padding:30px 0;}
					}

				}
			} 
			
		}
		/*===============购物车============*/
		.hcc_info{
			.hcc_info_t{padding:15px 20px 5px;}
			/*======列表添加商品======*/
			.hcc_info_c{
				padding-left: 20px;overflow: hidden;max-height:245px;
				.hcc_info_c_lis{
					padding-right: 60px;margin-bottom: 10px;
					.hcc_lis_img img{width: 60px;}
					.hcc_lis_con{
						margin-left: 10px;margin-top: -5px;
						.full_line{display:block;width: 230px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
						.hlc_name{font-size: 14px;}
						.c_gray{color:#999;}
						.hcc_number::before{content:"╳";}
						.hcc_price{
							margin:0 5px;
							&::before{content:'￥';}
						}
					}
					.hcc_Lis_del{right:15px;top:20px;font-size: 14px;color:#ccc;font-family:'宋体';width: 30px;height: 30px;line-height: 30px;text-align: center;cursor:pointer;}
				}
			}
			/*======总价 结算======*/
			.hcc_opt{
				padding: 15px;background:#f7f7f7;
				.hcc_price{
					line-height: 42px;font-size: 14px;
					span{color:#e8203b;}
				}
				.hcc_buy{display:block;width: 114px;height: 42px;background:#333;text-align: center;color:#fff;line-height: 42px;font-size: 14px;}
			}
		}

	}


	/*===============logo 搜索框============*/
	#head{
		height:100px;
		.logo{
			padding-top:35px;width:360px;
			a{display:block;margin:0 auto;width:280px;height:60px;text-indent:-99999px;background:url(../img/logo.png) no-repeat;}
		}
		.seach{
			top:45px;right:0;
			input{width:165px;line-height:29px;color:$colorSeach;border-bottom:1px solid #e8e8e8;}
			button{
				width:30px;height:30px;border:none;cursor:pointer;background:none;
				i{background-position:-60px 0;}
			}
		}
	}

	/*===============顶部导航============*/
	.nav_t{
		li{
			float:left;position:relative;
			a{
				display:block;padding:25px 0;width:120px;font-size:14px;font-weight:bold;text-align:center;
				&:hover{color:$aHover;}
				i{display:block;width:22px;height:12px;position:absolute;bottom:-1px;left:50%;margin-left:-11px;z-index:16;background:url(img/amt_tit.gif) no-repeat;display:none;}
			}
		}
		
	}
	/*===============导航详细============*/
	.nav_menu{
		width:100%;top:71px;z-index:15;
		.nav_menu_c{padding:25px 0 65px 0;border-top:1px solid #e8e8e8;text-align:center;}
		ul{
			display:inline-block;width:200px;margin:0 30px;text-align:left;vertical-align:top;position:relative;
			li{
				padding:7px 0;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
				&.nmc_tit{font-weight:bold;}
			}
		}
	}
	/*===============阴影============*/
	.head_shadow{
		height:8px;background:url(img/headerbg.png) repeat-x left bottom;
	}
}