
header{
	width:100%;background:#fff;margin-bottom:20px;
	article{
		
		.logo a{display:block;margin-top:49px;width:160px;height:65px;text-indent:-99999px;background:url(../img/logo_02.png) no-repeat;}
		.help_tel{
			font-size:14px;line-height:146px;
			span{display:inline-block;margin:0 5px 0 10px;width:20px;height:20px;background:url(img/headico.png) no-repeat;vertical-align:-4px;}
		}
	}
	.head_shadow{
		height:9px;background:url(img/headerbg.png) repeat-x;
	}
}