$colorLine:#999;

main{

	.banner{
		overflow:hidden;height: 600px;
		// .ban_control{width: 3600px;left:-1200px;}
		ul{width: 3600px;height: 600px;}
		li{float:left;}
		a{
			&.jt{display:block;width: 27px;height: 66px;top:272px;background:url(img/jt7.png) no-repeat;display:none;}
			&.ban_prev{left:10px;background-position: 0 -201px;}
			&.ban_prev:hover{background-position: 0 0;}
			&.ban_next{right:10px;background-position: 0 -134px;}
			&.ban_next:hover{background-position: 0 -67px;}
		}
	}

	.weekly{
		.weekly_top{
			margin:23px 0 10px;height:54px;
			.wt_line{width:100%;height:1px;top:29px;z-index:1;background:#e8e8e8;}
			.wt_title{width:260px;height:48px;margin:0 auto;z-index:2;text-align:center;font-size:16px;background:#FFF;line-height:24px;}
		}
		.weekly_content{
			.content{
				a{
					display:block;
					&:nth-child(2){margin-top:12px;}
				}
			}
		}
		.being_sold{
			height:265px;
			.jt{width: 17px;height: 38px;top:100px;}
			.rec_btn{width: 17px;height: 300px;background:#fff;cursor:pointer;z-index:3;}
			.rec_prev{
				left:0;
				.jt{background:url('img/pre_btn.png') no-repeat;}
			}
			.rec_next{
				right:0;
				.jt{background:url('img/next_btn.png') no-repeat;}
			}
			ul{
				width: 10000px;
				li{
					float:left;margin: 5px 20px 0;width: 160px;text-align:center;position:relative;overflow: hidden;
					a{	
						color:#555;
						p{height:22px;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
					}
					.s_gray{text-align:center;color:$colorLine;}
					img{display:inline-block;width: 160px;}
				}
			}

		}
		.trends{
			margin-top:10px;
			.trends_cont{
				padding-bottom:6px;
				a{	
					p{padding-left:15px;width:301px;height:36px;line-height:36px;font-size:18px;background:rgba(255,255,255,0.8);bottom:20px;}
				}

			}
		}
		.subscribe{
			.subscr_c form{
				margin-top:10px;padding-left:40px;
				input{
					padding-left:36px;background:url(img/footico.gif) no-repeat -40px -31px;width:124px;height:25px;line-height:25px;border:1px solid #a3a3a3;color:$colorLine;font-size:12px;
				}
				button{
					margin-left:5px;background:#000;color:#fff;width:70px;height:27px;line-height:27px;text-align:center;border:none;
				}
			}
		}
	}
}