@charset "UTF-8";
body { font-family: "微软雅黑","宋体",Arial Narrow,Helvetica; font-size: 12px; color: #333; line-height: 1.5; }

body, div, ul, li, pre, form, input, textarea, button, p { margin: 0; padding: 0; }

textarea { resize: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }

a, img { border: 0; }

a { text-decoration: none; color: #666; }

img { display: block; width: 100%; }

ul, ol, li { list-style: none; }

input, select, option { outline: 0; border: none; background: transparent; }

input { vertical-align: middle; }

.clear::after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

.clear { zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.nf { clear: both; }

.hide { overflow: hidden; }

.absolute { position: absolute; }

.relative { position: relative; }

.dn { display: none; }

.db { display: block; }

.width960 { width: 960px; margin: 0 auto; }

.fp { display: flex; flex-direction: row; flex-wrap: nowrap; }

.fc1 { flex: 1; }

.fc1_ml6 { flex: 1; margin-left: 6px; }

.mg_0_12 { margin: 0 12px; }

.ml_0 { margin-left: 0; }

.mr_0 { margin-left: 0; }

.mt_0 { margin-left: 0; }

.mb_0 { margin-left: 0; }

.mauto { margin: 0 auto; }

.pl_0 { padding-left: 0; }

.pr_0 { padding-left: 0; }

.pt_0 { padding-left: 0; }

.pb_0 { padding-left: 0; }

.w1200 { width: 1200px; margin: 0 auto; }

.bg_fff { background: #fff; }

.bg_ff0 { background: #ff0; }

.bg_f0f { background: #f0f; }

.bg_0ff { background: #0ff; }

header { background: #fff; margin-bottom: 20px; }

header i { display: inline-block; margin-right: 5px; width: 20px; height: 20px; background: url(img/headico.png) no-repeat; vertical-align: middle; }

header .sanjiao { width: 17px; height: 8px; z-index: 2; position: absolute; }

header .top-warp { width: 100%; height: 35px; background: #fafafa; border-bottom: 1px solid #f5f5f5; }

header .top-warp li { float: left; }

header .top-warp li a:hover { color: #333; }

header .top-warp .left { margin-top: 8px; }

header .top-warp .left li { margin-right: 20px; }

header .top-warp .left .down_ewm_app { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .left .down_ewm_app i { background-position: -20px 0; }

header .top-warp .left .down_ewm_app .down_app { padding: 10px; border: 1px solid #ececec; text-align: center; background: #fff; z-index: 1; top: 18px; left: 26px; }

header .top-warp .left .down_ewm_app .down_app a { display: block; }

header .top-warp .left .down_ewm_app .down_app i { background-position: -80px -12px; top: -8px; left: 50%; margin-left: -8px; }

header .top-warp .right { margin-top: 8px; }

header .top-warp .right li { margin-left: 20px; }

header .top-warp .right .shoping_car { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .right .shoping_car i { background-position: -40px 0; }

header .top-warp .right .shoping_car .header_car { padding-top: 7px; left: -276px; top: 18px; width: 383px; z-index: 999; }

header .top-warp .right .shoping_car .header_car i { background-position: -80px -12px; top: 0; left: 50%; margin-left: 135px; }

header .top-warp .right .shoping_car .header_car .header_car_c { border: 1px solid #e8e8e8; background: #fff; }

header .top-warp .right .shoping_car .header_car .header_car_c p { text-align: center; padding: 30px 0; }

header #head { height: 100px; }

header #head .logo { padding-top: 35px; width: 360px; }

header #head .logo a { display: block; margin: 0 auto; width: 280px; height: 60px; text-indent: -99999px; background: url(../img/logo.png) no-repeat; }

header #head .seach { top: 45px; right: 0; }

header #head .seach input { width: 165px; line-height: 29px; color: #999; border-bottom: 1px solid #e8e8e8; }

header #head .seach button { width: 30px; height: 30px; border: none; cursor: pointer; background: none; }

header #head .seach button i { background-position: -60px 0; }

header nav li { float: left; position: relative; }

header nav li a { display: block; padding: 25px 0; width: 120px; font-size: 14px; font-weight: bold; text-align: center; }

header nav li a:hover { color: #333; }

header .head_shadow { height: 8px; background: url(img/headerbg.png) repeat-x left bottom; }

.mt_20 { margin-top: 20px; }

.mt_10 { margin-top: 10px; }

.mr_30 { margin-right: 30px; }

main .cart_none { height: 360px; border: 1px solid #e8e8e8; }

main .cart_none .cart_none_m { width: 900px; margin: 55px auto 0; text-align: center; }

main .cart_none .cart_none_m .car_no_ico { width: 46px; height: 48px; background: url("img/cartNone.gif") no-repeat; }

main .cart_none .cart_none_m .car_no_txt { margin: 15px 0; font-size: 22px; color: #999; }

main .cart_none .cart_none_m .car_no_log { color: #999; }

main .cart_none .cart_none_btn { width: 350px; margin: 40px auto 0; text-align: center; }

main .cart_none .cart_none_btn a { display: inline-block; margin: 0 10px; width: 150px; height: 40px; line-height: 40px; font-size: 14px; background: #333; color: #fff; border-radius: 3px; text-align: center; }

main .cart_con_list { border: 1px solid #e8e8e8; padding: 0 30px; font-size: 14px; }

main .cart_content .cart_con_tit { margin-bottom: 10px; height: 43px; line-height: 43px; border: 1px solid #e8e8e8; background: #f5f5f5; color: #333; }

main .cart_content .cart_con_tit .cct2 { width: 255px; }

main .cart_content .cart_con_tit .cct3 { width: 175px; text-align: center; }

main .cart_content .cart_con_tit .cct4 { width: 215px; text-align: center; }

main .cart_content .cart_con_tit .cct5 { width: 180px; text-align: center; }

main .cart_content .cct1 { width: 175px; }

main .cart_content .cct1 .allcpro { line-height: 43px; }

main .cart_content input { margin: 0 3px 0 30px; }

main .cart_content .cart_con_bar { background: #fcfcfc; border: 1px solid #e8e8e8; }

main .cart_content .cart_con_bar .cbt_pirce { margin-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #ebebeb; width: 335px; text-align: right; }

main .cart_content .cart_con_bar .cbt_pirce .c_r { color: #e8203b; }

main .cart_content .cart_con_bar .cbt_pirce .pro_total { font-size: 16px; font-weight: bold; }

main .cart_content .cart_con_bar .cbt_pirce span { line-height: 30px; }

main .cart_content .cart_con_bar .cart_bar_b { padding: 30px 30px 50px 30px; }

main .cart_content .cart_con_bar .cart_bar_b .cbb_link { display: block; margin-top: 3px; width: 123px; height: 46px; font-size: 16px; padding-left: 15px; border: 1px solid #ccc; border-radius: 3px; text-align: center; line-height: 46px; background: url("img/goonbuy.gif") no-repeat 25px center; }

main .cart_content .cart_con_bar .cart_bar_b .cbb_settle { width: 165px; height: 50px; background: #c43f40; color: #fff; font-size: 16px; font-weight: bold; border-right: 3px; border: none; }

main .car_pro_rec { border: solid 1px #e8e8e8; }

main .car_pro_rec .car_rec_tit { margin: 0 30px; height: 70px; line-height: 70px; border-bottom: 1px solid #e8e8e8; }

main .car_pro_rec .car_rec_cont { width: 1140px; }

main .car_pro_rec .car_rec_link { padding: 20px 40px; }

main .car_pro_rec .jt { width: 17px; height: 38px; top: 100px; }

main .car_pro_rec .rec_btn { width: 17px; height: 300px; background: #fff; cursor: pointer; z-index: 3; }

main .car_pro_rec .car_rec_prev { left: 0; }

main .car_pro_rec .car_rec_prev .jt { background: url("img/pre_btn.png") no-repeat; }

main .car_pro_rec .car_rec_next { right: 0; }

main .car_pro_rec .car_rec_next .jt { background: url("img/next_btn.png") no-repeat; }

main .car_pro_rec ul { width: 10000px; }

main .car_pro_rec ul li { float: left; margin: 0 21px; width: 220px; text-align: center; position: relative; overflow: hidden; }

main .car_pro_rec ul li .car_rec_name { padding: 10px 16px 16px; margin-bottom: 5px; line-height: 2; overflow: hidden; white-space: normal; text-overflow: ellipsis; }

main .car_pro_rec ul li .car_rec_pri { margin-top: 10px; color: #ccc; }

main .car_pro_rec ul li .add_cart a { display: block; margin: 25px auto 30px; width: 126px; height: 33px; line-height: 33px; border: 1px solid #e8e8e8; }

main .car_pro_rec ul li img { display: inline-block; width: 160px; }

footer { margin-top: 30px; border-top: 1px solid #e8e8e8; background: #fff; }

footer .foot_h { padding-top: 40px; height: 242px; background: #fff; }

footer .foot_h section { padding-top: 10px; height: 200px; border-right: 1px solid #e8e8e8; }

footer .foot_h .foot_h_1 ul { float: left; width: 149px; margin-bottom: 10px; }

footer .foot_h .foot_h_1 ul li { line-height: 25px; }

footer .foot_h .foot_h_1 ul li:first-child { margin-bottom: 8px; font-size: 14px; }

footer .foot_h .foot_h_2 { text-align: center; }

footer .foot_h .foot_h_2 span { padding-top: 5px; }

footer .foot_h .foot_h_2 h5 { line-height: 65px; font-size: 24px; }

footer .foot_h .foot_h_2 p { line-height: 30px; }

footer .foot_h .foot_h_3 { text-align: center; }

footer .foot_h .foot_h_3 p { padding: 5px 0 20px; font-size: 14px; }

footer .foot_h .foot_h_3 input { padding-left: 22px; width: 173px; height: 41px; border: 1px solid #e8e8e8; background: #f5f5f5; border-radius: 2px; line-height: 41px; }

footer .foot_h .foot_h_3 .subscribe { margin: 25px auto 0; background: #333; color: #fff; width: 197px; height: 49px; line-height: 49px; font-size: 14px; cursor: pointer; }

footer .foot_h .foot_h_4 { text-align: center; border: none; }

footer .foot_h .foot_h_4 .pl_20 { padding-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm { margin-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm div { margin-top: 10px; padding: 20px; border: 1px solid #e8e8e8; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_app span { display: block; width: 67px; height: 67px; background: url(../img/down_app.png) no-repeat; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_wx span { display: block; width: 67px; height: 67px; background: url(../img/ewm_wx.png) no-repeat; }

footer .foot_h .foot_h_4 p { color: #999; line-height: 60px; height: 60px; }

footer .foot_c { height: 280px; background: #414141; }

footer .foot_c .foot_c_top { height: 138px; line-height: 138px; color: #fff; font-size: 18px; }

footer .foot_c .foot_c_top span { display: inline-block; margin-right: 24px; width: 52px; height: 52px; background: url(img/footer_icon.png) no-repeat; vertical-align: middle; }

footer .foot_c .foot_c_top .foot_c_top_1 span { background-position: right 0; }

footer .foot_c .foot_c_top .foot_c_top_2 span { background-position: center 0; }

footer .foot_c .foot_c_top .foot_c_top_3 span { background-position: left 0; }

footer .foot_c .bg_border { width: 100%; border-bottom: 1px solid #4d4d4d; border-top: 1px solid #333; }

footer .foot_c .foot_c_bot { padding-top: 30px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l { border-right: 1px solid #4d4d4d; margin-left: -12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l li { float: left; width: 72px; height: 20px; text-align: center; border-left: 1px solid #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li:first-child { border: none; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a { color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_l div { padding-left: 12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div p { line-height: 47px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div span { margin-right: 20px; }

footer .foot_c .foot_c_bot .foot_c_bot_r { border-left: 1px solid #333; text-align: center; }

footer .foot_c .foot_c_bot .foot_c_bot_r p { margin: 0 0 23px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r ul { padding-top: 4px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li { float: left; padding: 0 15px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li a { display: block; height: 23px; line-height: 23px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a { width: 18px; background: url(img/partner_icon.png) no-repeat 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a:hover { background: url(img/footer_h.png) no-repeat; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a span { display: inline-block; width: 31px; height: 19px; vertical-align: middle; background: url(img/partner_icon.png) no-repeat -199px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover span { background: url(img/footer_h.png) no-repeat -209px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a { width: 68px; background: url(img/footer.png) no-repeat 0 -24px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a:hover { background-position: 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a { margin-top: -4px; width: 72px; height: 31px; background: url(img/partner_icon.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a:hover { background: url(img/footer_h.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a { width: 60px; background: url(img/partner_icon.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a:hover { background: url(img/footer_h.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a { width: 77px; background: url(img/footer.png) no-repeat -77px -23px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a:hover { background-position: -77px 0; }
