@charset "UTF-8";
body { font-family: "微软雅黑","宋体",Arial Narrow,Helvetica; font-size: 12px; color: #333; line-height: 1.5; }

body, div, ul, li, pre, form, input, textarea, button, p { margin: 0; padding: 0; }

textarea { resize: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }

a, img { border: 0; }

a { text-decoration: none; color: #666; }

img { display: block; width: 100%; }

ul, ol, li { list-style: none; }

input, select, option, button { outline: 0; border: none; background: transparent; }

input { vertical-align: middle; }

.clear::after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

.clear { zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.nf { clear: both; }

.hide { overflow: hidden; }

.absolute { position: absolute; }

.relative { position: relative; }

.dn { display: none; }

.db { display: block; }

.width960 { width: 960px; margin: 0 auto; }

.fp { display: flex; flex-direction: row; flex-wrap: nowrap; }

.fc1 { flex: 1; }

.fc1_ml6 { flex: 1; margin-left: 6px; }

.mg_0_12 { margin: 0 12px; }

.mt_20 { margin-top: 20px; }

.mt_10 { margin-top: 10px; }

.mr_30 { margin-right: 30px; }

.ml_0 { margin-left: 0; }

.mr_0 { margin-left: 0; }

.mt_0 { margin-left: 0; }

.mb_0 { margin-left: 0; }

.mauto { margin: 0 auto; }

.pl_0 { padding-left: 0; }

.pr_0 { padding-left: 0; }

.pt_0 { padding-left: 0; }

.pb_0 { padding-left: 0; }

.w1200 { width: 1200px; margin: 0 auto; }

.bg_fff { background: #fff; }

.bg_ff0 { background: #ff0; }

.bg_f0f { background: #f0f; }

.bg_0ff { background: #0ff; }

/*===============头部============*/
header { background: #fff; margin-bottom: 20px; /*===============logo 搜索框============*/ /*===============顶部导航============*/ /*===============导航详细============*/ /*===============阴影============*/ }

header .top-warp { width: 100%; height: 35px; background: #fafafa; border-bottom: 1px solid #f5f5f5; /*===============购物车============*/ }

header .top-warp i { display: inline-block; margin-right: 5px; width: 20px; height: 20px; background: url(img/headico.png) no-repeat; vertical-align: middle; }

header .top-warp .sanjiao { width: 17px; height: 8px; z-index: 2; position: absolute; }

header .top-warp li { float: left; }

header .top-warp li a:hover { color: #333; }

header .top-warp .left { margin-top: 8px; }

header .top-warp .left li { margin-right: 20px; }

header .top-warp .left .down_ewm_app { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .left .down_ewm_app i { background-position: -20px 0; }

header .top-warp .left .down_ewm_app .down_app { padding: 10px; border: 1px solid #ececec; text-align: center; background: #fff; z-index: 1; top: 18px; left: 26px; }

header .top-warp .left .down_ewm_app .down_app a { display: block; }

header .top-warp .left .down_ewm_app .down_app i { background-position: -80px -12px; top: -8px; left: 50%; margin-left: -8px; }

header .top-warp .right { margin-top: 8px; }

header .top-warp .right li { margin-left: 20px; }

header .top-warp .right .shoping_car { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .right .shoping_car i { background-position: -40px 0; }

header .top-warp .right .shoping_car .header_car { padding-top: 7px; left: -276px; top: 18px; width: 383px; z-index: 999; }

header .top-warp .right .shoping_car .header_car i { background-position: -80px -12px; top: 0; left: 50%; margin-left: 135px; }

header .top-warp .right .shoping_car .header_car .header_car_c { border: 1px solid #e8e8e8; background: #fff; }

header .top-warp .right .shoping_car .header_car .header_car_c p { text-align: center; padding: 30px 0; }

header .top-warp .hcc_info { /*======列表添加商品======*/ /*======总价 结算======*/ }

header .top-warp .hcc_info .hcc_info_t { padding: 15px 20px 5px; }

header .top-warp .hcc_info .hcc_info_c { padding-left: 20px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis { padding-right: 60px; margin-bottom: 10px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_img img { width: 60px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con { margin-left: 10px; margin-top: -5px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .full_line { display: block; width: 230px; white-space: normal; text-overflow: ellipsis; overflow: hidden; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hlc_name { font-size: 14px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .c_gray { color: #999; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hcc_price { margin: 0 5px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hcc_price::before { content: '￥'; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .global { display: inline-block; margin-top: 5px; border: 1px solid #917661; color: #917661; border-radius: 2px; width: 45px; font-size: 12px; text-align: center; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_Lis_del { right: 15px; top: 20px; font-size: 14px; color: #ccc; font-family: '宋体'; width: 30px; height: 30px; line-height: 30px; text-align: center; cursor: pointer; }

header .top-warp .hcc_info .hcc_opt { padding: 15px; background: #f7f7f7; }

header .top-warp .hcc_info .hcc_opt .hcc_price { line-height: 42px; font-size: 14px; }

header .top-warp .hcc_info .hcc_opt .hcc_price span { color: #e8203b; }

header .top-warp .hcc_info .hcc_opt .hcc_buy { display: block; width: 114px; height: 42px; background: #333; text-align: center; color: #fff; line-height: 42px; font-size: 14px; }

header #head { height: 100px; }

header #head .logo { padding-top: 35px; width: 360px; }

header #head .logo a { display: block; margin: 0 auto; width: 280px; height: 60px; text-indent: -99999px; background: url(../img/logo.png) no-repeat; }

header #head .seach { top: 45px; right: 0; }

header #head .seach input { width: 165px; line-height: 29px; color: #999; border-bottom: 1px solid #e8e8e8; }

header #head .seach button { width: 30px; height: 30px; border: none; cursor: pointer; background: none; }

header #head .seach button i { background-position: -60px 0; }

header .nav_t li { float: left; position: relative; }

header .nav_t li a { display: block; padding: 25px 0; width: 120px; font-size: 14px; font-weight: bold; text-align: center; }

header .nav_t li a:hover { color: #333; }

header .nav_t li a i { display: block; width: 22px; height: 12px; position: absolute; bottom: -1px; left: 50%; margin-left: -11px; z-index: 16; background: url(img/amt_tit.gif) no-repeat; display: none; }

header .nav_menu { width: 100%; top: 71px; z-index: 15; }

header .nav_menu .nav_menu_c { padding: 25px 0 65px 0; border-top: 1px solid #e8e8e8; text-align: center; }

header .nav_menu ul { display: inline-block; width: 200px; margin: 0 30px; text-align: left; vertical-align: top; position: relative; }

header .nav_menu ul li { padding: 7px 0; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

header .nav_menu ul li.nmc_tit { font-weight: bold; }

header .head_shadow { height: 8px; background: url(img/headerbg.png) repeat-x left bottom; }

body { background: #f5f5f5; }

main .goodspro { padding: 70px 0; }

main .goodspro .pro_pic { margin-left: 95px; }

main .goodspro .pro_pic .pic_small { padding: 20px 0; width: 52px; max-height: 420px; z-index: 2; overflow: hidden; }

main .goodspro .pro_pic .pic_small .jt { width: 50px; height: 16px; background: url(img/projt.gif) no-repeat; position: absolute; }

main .goodspro .pro_pic .pic_small .prev { top: 3px; left: 0; background-position: center -32px; }

main .goodspro .pro_pic .pic_small .next { bottom: 0; left: 0; background-position: center -48px; }

main .goodspro .pro_pic .pic_small .pic_small_li li { margin-top: 7px; height: 62px; }

main .goodspro .pro_pic .pic_small .pic_small_li li img { border: 1px solid #fff; }

main .goodspro .pro_pic .pic_small .pic_small_li li img.border { border: 1px solid #ccc; }

main .goodspro .pro_pic .pic_large { margin-left: 20px; }

main .goodspro .pro_pic .pic_large a { display: block; width: 384px; height: 460px; }

main .goodspro .pro_info { padding: 20px 0 0 85px; }

main .goodspro .pro_info h1 { font-size: 14px; font-weight: normal; }

main .goodspro .pro_info h1 a { font-size: 24px; display: block; max-width: 361px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #333; }

main .goodspro .pro_info .pro_info_tit { font-size: 14px; margin: 6px 20px 0 0; max-width: 361px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

main .goodspro .pro_info .global { margin-top: 6px; border: 1px solid #917661; border-radius: 3px; width: 45px; text-align: center; color: #917661; }

main .goodspro .pro_info .pro_info_pirce { margin: 20px 0 14px; }

main .goodspro .pro_info .pro_info_pirce span { line-height: 27px; }

main .goodspro .pro_info .pro_info_pirce b { font-size: 18px; }

main .goodspro .pro_info .pro_info_pirce i::before { content: "￥"; font-style: normal; }

main .goodspro .pro_info .pro_info_color li { margin-right: 5px; border-radius: 2px; }

main .goodspro .pro_info .pro_info_size { padding: 20px 0; line-height: 28px; }

main .goodspro .pro_info .pro_info_size span { line-height: 40px; }

main .goodspro .pro_info .pro_info_size li { margin: 5px 5px 5px 0; text-align: center; }

main .goodspro .pro_info .pro_info_size li a { display: block; min-width: 42px; height: 28px; border-radius: 2px; border: 1px solid #e8e8e8; padding: 0 5px; }

main .goodspro .pro_info .pro_info_size p { margin: 5px 0 0 55px; }

main .goodspro .pro_info .pro_info_size p a { color: #999; text-decoration: underline; }

main .goodspro .pro_info .pro_info_btn button { height: 45px; line-height: 45px; color: #fff; font-size: 14px; border: none; border-radius: 2px; cursor: pointer; }

main .goodspro .pro_info .pro_info_btn .add_buy button { width: 152px; background: #333; }

main .goodspro .pro_info .pro_info_btn .add_car button { margin: 0 10px; width: 143px; background: #c53f40; }

main .goodspro .pro_info .pro_info_btn .pro_collec, main .goodspro .pro_info .pro_info_btn .pro_share { margin-left: 10px; border: 1px solid #e8e8e8; width: 43px; height: 43px; }

main .goodspro .pro_info .pro_info_btn .pro_collec a { display: block; width: 43px; height: 43px; background: url("img/pst.gif") no-repeat 0 -13px; }

main .goodspro .pro_info .pro_info_btn .pro_share { background: url("img/pst.gif") no-repeat 0 -56px; }

main .goodspro .pro_info .pro_info_btn .share_links { top: 32px; left: -47px; width: 140px; }

main .goodspro .pro_info .pro_info_btn .jiao { width: 17px; height: 8px; background: url("img/headico.png") no-repeat -80px -12px; top: 0; left: 50%; margin-left: -9px; z-index: 2; }

main .goodspro .pro_info .pro_info_btn .psl_c { width: 138px; height: 31px; padding-top: 11px; margin-top: 7px; text-align: center; border: 1px solid #e8e8e8; }

main .goodspro .pro_info .pro_info_btn .psl_c a { display: inline-block; margin: 0 5px; width: 25px; height: 25px; background: url("img/shareico.gif") no-repeat; }

main .goodspro .pro_info .pro_info_btn .psl_c .ps_wx { background-position: 0 0; }

main .goodspro .pro_info .pro_info_btn .psl_c .ps_xl { background-position: -25px 0; }

main .goodspro .pro_info .pro_info_btn .psl_c .ps_qq { background-position: -50px 0; }

main .goodspro .pro_info .pro_info_exp { margin-top: 20px; color: #999; }

main .goodspro .pro_info .pro_info_exp li { padding: 15px 0; width: 100%; border-bottom: 1px solid #f5f5f5; }

main .goodspro .pro_info .pro_info_exp span { float: left; width: 78px; }

main .goodspro .pro_info .pro_info_exp p { float: left; width: 345px; }

main .goodspro .pro_info .span_w55 span { float: left; width: 55px; color: #999; }

main .goodspro .pro_info li { float: left; }

main .pro_recommend .recom_cont { padding: 20px 40px; margin: 0 auto; overflow: hidden; width: 1032px; height: 297px; }

main .pro_recommend .recom_cont .jt { width: 17px; height: 38px; top: 100px; }

main .pro_recommend .recom_cont .rec_btn { width: 17px; height: 300px; background: #fff; cursor: pointer; z-index: 3; }

main .pro_recommend .recom_cont .rec_prev { left: 0; }

main .pro_recommend .recom_cont .rec_prev .jt { background: url("img/pre_btn.png") no-repeat; }

main .pro_recommend .recom_cont .rec_next { right: 0; }

main .pro_recommend .recom_cont .rec_next .jt { background: url("img/next_btn.png") no-repeat; }

main .pro_recommend ul { width: 10000px; }

main .pro_recommend ul li { float: left; margin: 0 20px; width: 218px; height: 297px; text-align: center; position: relative; overflow: hidden; }

main .pro_recommend ul li span { color: #999; }

main .pro_recommend ul li .recom_name { padding: 10px 16px 16px; margin-bottom: 5px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

main .pro_recommend ul li .recom_name .rnt { color: #333; font-weight: blod; }

main .pro_recommend ul li img { display: inline-block; width: 160px; }

main .pro_recom { padding: 0 20px; }

main .recom_tit { padding-top: 15px; height: 63px; border-bottom: 1px solid #e8e8e8; }

main .recom_tit .tab_tit { padding: 0 0 5px 70px; height: 45px; background: url("img/m.png") no-repeat left center; }

main .recom_tit .tab_tit .tab_tit_m { font-size: 14px; color: #999; }

main .recom_tit .tab_tit p { color: #666; }

main .pro_tab { margin-top: 20px; height: 60px; }

main .pro_tab .pro_tab_l { height: 60px; border-bottom: 1px solid #e8e8e8; }

main .pro_tab .pro_tab_l ul li { float: left; width: 110px; height: 60px; line-height: 60px; text-align: center; font-size: 14px; cursor: pointer; }

main .pro_tab .pro_tab_l ul li.active { background: #505050; color: #fff; }

main .pro_tab .pro_tab_r { margin-right: 10px; }

main .pro_tab .pro_tab_r button { width: 106px; height: 40px; margin: 10px 10px 0 0; border: none; color: #fff; font-size: 14px; }

main .pro_tab .pro_tab_r .add_buy button { background: #333; }

main .pro_tab .pro_tab_r .add_car button { background: #c53f40; }

main .pro_main .tab_cont { padding: 0 30px; margin-bottom: 20px; }

main .pro_main .pro_info { width: 1060px; margin: 0 auto; padding-bottom: 30px; }

main .pro_main .pro_info .bor_bot { border-bottom: 1px solid #e8e8e8; }

main .pro_main .pro_info .pro_info_row { line-height: 52px; }

main .pro_main .pro_info p { display: inline-block; width: 74px; }

main .pro_main .pro_info span { color: #999; }

main .pro_main .pro_brand { padding: 40px 0; }

main .pro_main .pro_brand .brand_story_l { padding: 0 75px 0 45px; width: 690px; font-size: 14px; color: #909090; }

main .pro_main .pro_brand .brand_story_r { width: 330px; text-align: center; }

main .pro_main .pro_brand .brand_story_r img { width: 170px; margin: 0 auto; }

main .pro_main .pro_brand .brand_story_r a { display: block; margin: 15px auto 0; width: 123px; height: 38px; line-height: 38px; border: 1px solid #e8e8e8; border-radius: 3px; }

main .pro_main .pro_brand .story_r_l { width: 1px; height: 65px; background: #e8e8e8; top: 25px; left: 0; }

main .pro_main .pro_img { width: 1120px; margin: 0 auto; }

main .pro_main .pro_img li { float: left; margin: 0 35px 75px; }

main .pro_main .pro_img li img { width: 485px; }

main .pro_main .pro_size_main { text-align: center; }

main .pro_main .pro_size_main table { border-spacing: 0; border-collapse: collapse; }

main .pro_main .pro_size_main td { padding: 10px 0; }

main .pro_main .pro_size_main span { display: block; margin: 3px 0; padding: 3px 0; background: #f5f5f5; }

main .pro_main .pro_size_main .f_weight { padding: 10px 0; font-weight: bold; background: #eee; }

main .pro_main .service { padding: 10px 15px 20px; line-height: 2; }

main .sidebar { position: fixed; right: 0; bottom: 100px; border: 1px solid #ddd; background: #fff; z-index: 3; }

main .sidebar li { position: relative; }

main .sidebar li a { display: block; padding-top: 12px; width: 58px; height: 46px; border-bottom: 1px solid #ddd; }

main .sidebar li a i { display: block; margin: 0 auto; width: 35px; height: 35px; background: url("img/consult.png") no-repeat; }

main .sidebar li:hover { background: #666; }

main .sidebar li:nth-child(1) i { background-position: 0 0; }

main .sidebar li:nth-child(1):hover i { background-position: -35px 0; }

main .sidebar li:nth-child(2) i { background-position: 0 -70px; }

main .sidebar li:nth-child(2):hover i { background-position: -35px -70px; }

main .sidebar li:nth-child(3) i { background-position: 0 -35px; }

main .sidebar li:nth-child(3):hover i { background-position: -35px -35px; }

main .sidebar li:last-child a { border-bottom: none; }

main .sidebar li:last-child i { background-position: 0 -105px; }

main .sidebar li:last-child:hover i { background-position: -35px -105px; }

main .sidebar li .side_app_ewm { left: -107px; top: -17px; }

main .sidebar li .side_app_ewm .app_ewm_sj { width: 8px; height: 17px; background: url("img/headico.png") -97px -3px no-repeat; top: 38px; right: -7px; z-index: 2; }

main .sidebar li .side_app_ewm .app_ewm { padding: 10px; background: #fff; border: 1px solid #ececec; }

footer { margin-top: 30px; border-top: 1px solid #e8e8e8; background: #fff; }

footer .foot_h { padding-top: 40px; height: 242px; background: #fff; }

footer .foot_h section { padding-top: 10px; height: 200px; border-right: 1px solid #e8e8e8; }

footer .foot_h .foot_h_1 ul { float: left; width: 149px; margin-bottom: 10px; }

footer .foot_h .foot_h_1 ul li { line-height: 25px; }

footer .foot_h .foot_h_1 ul li:first-child { margin-bottom: 8px; font-size: 14px; }

footer .foot_h .foot_h_2 { text-align: center; }

footer .foot_h .foot_h_2 span { padding-top: 5px; }

footer .foot_h .foot_h_2 h5 { line-height: 65px; font-size: 24px; }

footer .foot_h .foot_h_2 p { line-height: 30px; }

footer .foot_h .foot_h_3 { text-align: center; }

footer .foot_h .foot_h_3 p { padding: 5px 0 20px; font-size: 14px; }

footer .foot_h .foot_h_3 input { padding-left: 22px; width: 173px; height: 41px; border: 1px solid #e8e8e8; background: #f5f5f5; border-radius: 2px; line-height: 41px; }

footer .foot_h .foot_h_3 .subscribe { margin: 25px auto 0; background: #333; color: #fff; width: 197px; height: 49px; line-height: 49px; font-size: 14px; cursor: pointer; }

footer .foot_h .foot_h_4 { text-align: center; border: none; }

footer .foot_h .foot_h_4 .pl_20 { padding-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm { margin-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm div { margin-top: 10px; padding: 20px; border: 1px solid #e8e8e8; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_app span { display: block; width: 67px; height: 67px; background: url(../img/down_app.png) no-repeat; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_wx span { display: block; width: 67px; height: 67px; background: url(../img/ewm_wx.png) no-repeat; }

footer .foot_h .foot_h_4 p { color: #999; line-height: 60px; height: 60px; }

footer .foot_c { height: 280px; background: #414141; }

footer .foot_c .foot_c_top { height: 138px; line-height: 138px; color: #fff; font-size: 18px; }

footer .foot_c .foot_c_top span { display: inline-block; margin-right: 24px; width: 52px; height: 52px; background: url(img/footer_icon.png) no-repeat; vertical-align: middle; }

footer .foot_c .foot_c_top .foot_c_top_1 span { background-position: right 0; }

footer .foot_c .foot_c_top .foot_c_top_2 span { background-position: center 0; }

footer .foot_c .foot_c_top .foot_c_top_3 span { background-position: left 0; }

footer .foot_c .bg_border { width: 100%; border-bottom: 1px solid #4d4d4d; border-top: 1px solid #333; }

footer .foot_c .foot_c_bot { padding-top: 30px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l { border-right: 1px solid #4d4d4d; margin-left: -12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l li { float: left; width: 72px; height: 20px; text-align: center; border-left: 1px solid #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li:first-child { border: none; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a { color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_l div { padding-left: 12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div p { line-height: 47px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div span { margin-right: 20px; }

footer .foot_c .foot_c_bot .foot_c_bot_r { border-left: 1px solid #333; text-align: center; }

footer .foot_c .foot_c_bot .foot_c_bot_r p { margin: 0 0 23px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r ul { padding-top: 4px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li { float: left; padding: 0 15px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li a { display: block; height: 23px; line-height: 23px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a { width: 18px; background: url(img/partner_icon.png) no-repeat 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a:hover { background: url(img/footer_h.png) no-repeat; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a span { display: inline-block; width: 31px; height: 19px; vertical-align: middle; background: url(img/partner_icon.png) no-repeat -199px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover span { background: url(img/footer_h.png) no-repeat -209px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a { width: 68px; background: url(img/footer.png) no-repeat 0 -24px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a:hover { background-position: 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a { margin-top: -4px; width: 72px; height: 31px; background: url(img/partner_icon.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a:hover { background: url(img/footer_h.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a { width: 60px; background: url(img/partner_icon.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a:hover { background: url(img/footer_h.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a { width: 77px; background: url(img/footer.png) no-repeat -77px -23px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a:hover { background-position: -77px 0; }
