@charset "UTF-8";
body { font-family: "微软雅黑","宋体",Arial Narrow,Helvetica; font-size: 12px; color: #333; line-height: 1.5; }

body, div, ul, li, pre, form, input, textarea, button, p { margin: 0; padding: 0; }

textarea { resize: none; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }

a, img { border: 0; }

a { text-decoration: none; color: #666; }

img { display: block; width: 100%; }

ul, ol, li { list-style: none; }

input, select, option, button { outline: 0; border: none; background: transparent; }

input { vertical-align: middle; }

.clear::after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }

.clear { zoom: 1; }

.fl { float: left; }

.fr { float: right; }

.nf { clear: both; }

.hide { overflow: hidden; }

.absolute { position: absolute; }

.relative { position: relative; }

.dn { display: none; }

.db { display: block; }

.width960 { width: 960px; margin: 0 auto; }

.fp { display: flex; flex-direction: row; flex-wrap: nowrap; }

.fc1 { flex: 1; }

.fc1_ml6 { flex: 1; margin-left: 6px; }

.mg_0_12 { margin: 0 12px; }

.mt_20 { margin-top: 20px; }

.mt_10 { margin-top: 10px; }

.mr_30 { margin-right: 30px; }

.ml_0 { margin-left: 0; }

.mr_0 { margin-left: 0; }

.mt_0 { margin-left: 0; }

.mb_0 { margin-left: 0; }

.mauto { margin: 0 auto; }

.pl_0 { padding-left: 0; }

.pr_0 { padding-left: 0; }

.pt_0 { padding-left: 0; }

.pb_0 { padding-left: 0; }

.w1200 { width: 1200px; margin: 0 auto; }

.bg_fff { background: #fff; }

.bg_ff0 { background: #ff0; }

.bg_f0f { background: #f0f; }

.bg_0ff { background: #0ff; }

.global { display: inline-block; margin-top: 5px; border: 1px solid #917661; color: #917661; border-radius: 2px; width: 45px; font-size: 12px; text-align: center; }

table { width: 100%; border-spacing: 0; border-collapse: collapse; }

td { valign: middle; align: center; }

.popup_box { width: 480px; border: 1px solid #eee; min-height: 140px; position: fixed; top: 50%; left: 50%; background: #fff; box-shadow: 0 0 3px #ccc; z-index: 100; transform: translate(-50%, -50%); }

.popup_box .p_box_title { height: 60px; line-height: 60px; padding: 0 25px; background: #f8f8f8; color: #999; font-size: 14px; }

.popup_box .p_box_close { width: 60px; height: 60px; line-height: 60px; text-align: center; cursor: pointer; right: 0; top: 0; }

.popup_box .p_box_content { text-align: center; padding: 50px 0 10px; }

.popup_box .p_box_btn { padding: 30px 0 40px; text-align: center; }

.popup_box .p_box_btn a { display: inline-block; width: 118px; height: 34px; line-height: 34px; margin: 0 20px; border-radius: 3px; }

.popup_box .p_box_btn .p_yes { background: #333; border: 1px solid #333; color: #fff; }

.popup_box .p_box_btn .p_no { border: 1px solid #e8e8e8; }

.bg_curtain { width: 100%; height: 100%; background: #333; opacity: .8; filter: alpha(opacity=80); position: fixed; top: 0; left: 0; z-index: 90; transform: translate(0, 0); }

/*===============头部============*/
header { background: #fff; margin-bottom: 20px; /*===============logo 搜索框============*/ /*===============顶部导航============*/ /*===============导航详细============*/ /*===============阴影============*/ }

header .top-warp { width: 100%; height: 35px; background: #fafafa; border-bottom: 1px solid #f5f5f5; /*===============购物车============*/ }

header .top-warp i { display: inline-block; margin-right: 5px; width: 20px; height: 20px; background: url(img/headico.png) no-repeat; vertical-align: middle; }

header .top-warp .sanjiao { width: 17px; height: 8px; z-index: 2; position: absolute; }

header .top-warp li { float: left; }

header .top-warp li a:hover { color: #333; }

header .top-warp .left { margin-top: 8px; }

header .top-warp .left li { margin-right: 20px; }

header .top-warp .left .down_ewm_app { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .left .down_ewm_app i { background-position: -20px 0; }

header .top-warp .left .down_ewm_app .down_app { padding: 10px; border: 1px solid #ececec; text-align: center; background: #fff; z-index: 1; top: 18px; left: 26px; }

header .top-warp .left .down_ewm_app .down_app a { display: block; }

header .top-warp .left .down_ewm_app .down_app i { background-position: -80px -12px; top: -8px; left: 50%; margin-left: -8px; }

header .top-warp .right { margin-top: 8px; }

header .top-warp .right li { margin-left: 20px; }

header .top-warp .right .shoping_car { padding-left: 20px; border-left: 1px solid #d9d9d9; }

header .top-warp .right .shoping_car i { background-position: -40px 0; }

header .top-warp .right .shoping_car .header_car { padding-top: 7px; left: -276px; top: 18px; width: 383px; z-index: 999; }

header .top-warp .right .shoping_car .header_car i { background-position: -80px -12px; top: 0; left: 50%; margin-left: 135px; }

header .top-warp .right .shoping_car .header_car .header_car_c { border: 1px solid #e8e8e8; background: #fff; }

header .top-warp .right .shoping_car .header_car .header_car_c p { text-align: center; padding: 30px 0; }

header .top-warp .hcc_info { /*======列表添加商品======*/ /*======总价 结算======*/ }

header .top-warp .hcc_info .hcc_info_t { padding: 15px 20px 5px; }

header .top-warp .hcc_info .hcc_info_c { padding-left: 20px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis { padding-right: 60px; margin-bottom: 10px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_img img { width: 60px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con { margin-left: 10px; margin-top: -5px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .full_line { display: block; width: 230px; white-space: normal; text-overflow: ellipsis; overflow: hidden; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hlc_name { font-size: 14px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .c_gray { color: #999; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hcc_number::before { content: "╳"; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hcc_price { margin: 0 5px; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_lis_con .hcc_price::before { content: '￥'; }

header .top-warp .hcc_info .hcc_info_c .hcc_info_c_lis .hcc_Lis_del { right: 15px; top: 20px; font-size: 14px; color: #ccc; font-family: '宋体'; width: 30px; height: 30px; line-height: 30px; text-align: center; cursor: pointer; }

header .top-warp .hcc_info .hcc_opt { padding: 15px; background: #f7f7f7; }

header .top-warp .hcc_info .hcc_opt .hcc_price { line-height: 42px; font-size: 14px; }

header .top-warp .hcc_info .hcc_opt .hcc_price span { color: #e8203b; }

header .top-warp .hcc_info .hcc_opt .hcc_buy { display: block; width: 114px; height: 42px; background: #333; text-align: center; color: #fff; line-height: 42px; font-size: 14px; }

header #head { height: 100px; }

header #head .logo { padding-top: 35px; width: 360px; }

header #head .logo a { display: block; margin: 0 auto; width: 280px; height: 60px; text-indent: -99999px; background: url(../img/logo.png) no-repeat; }

header #head .seach { top: 45px; right: 0; }

header #head .seach input { width: 165px; line-height: 29px; color: #999; border-bottom: 1px solid #e8e8e8; }

header #head .seach button { width: 30px; height: 30px; border: none; cursor: pointer; background: none; }

header #head .seach button i { background-position: -60px 0; }

header .nav_t li { float: left; position: relative; }

header .nav_t li a { display: block; padding: 25px 0; width: 120px; font-size: 14px; font-weight: bold; text-align: center; }

header .nav_t li a:hover { color: #333; }

header .nav_t li a i { display: block; width: 22px; height: 12px; position: absolute; bottom: -1px; left: 50%; margin-left: -11px; z-index: 16; background: url(img/amt_tit.gif) no-repeat; display: none; }

header .nav_menu { width: 100%; top: 71px; z-index: 15; }

header .nav_menu .nav_menu_c { padding: 25px 0 65px 0; border-top: 1px solid #e8e8e8; text-align: center; }

header .nav_menu ul { display: inline-block; width: 200px; margin: 0 30px; text-align: left; vertical-align: top; position: relative; }

header .nav_menu ul li { padding: 7px 0; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

header .nav_menu ul li.nmc_tit { font-weight: bold; }

header .head_shadow { height: 8px; background: url(img/headerbg.png) repeat-x left bottom; }

main .banner { overflow: hidden; height: 600px; }

main .banner ul { width: 3600px; height: 600px; }

main .banner li { float: left; }

main .banner a.jt { display: block; width: 27px; height: 66px; top: 272px; background: url(img/jt7.png) no-repeat; display: none; }

main .banner a.ban_prev { left: 10px; background-position: 0 -201px; }

main .banner a.ban_prev:hover { background-position: 0 0; }

main .banner a.ban_next { right: 10px; background-position: 0 -134px; }

main .banner a.ban_next:hover { background-position: 0 -67px; }

main .weekly .weekly_top { margin: 23px 0 10px; height: 54px; }

main .weekly .weekly_top .wt_line { width: 100%; height: 1px; top: 29px; z-index: 1; background: #e8e8e8; }

main .weekly .weekly_top .wt_title { width: 260px; height: 48px; margin: 0 auto; z-index: 2; text-align: center; font-size: 16px; background: #FFF; line-height: 24px; }

main .weekly .weekly_content .content a { display: block; }

main .weekly .weekly_content .content a:nth-child(2) { margin-top: 12px; }

main .weekly .being_sold { height: 265px; }

main .weekly .being_sold .jt { width: 17px; height: 38px; top: 100px; }

main .weekly .being_sold .rec_btn { width: 17px; height: 300px; background: #fff; cursor: pointer; z-index: 3; }

main .weekly .being_sold .rec_prev { left: 0; }

main .weekly .being_sold .rec_prev .jt { background: url("img/pre_btn.png") no-repeat; }

main .weekly .being_sold .rec_next { right: 0; }

main .weekly .being_sold .rec_next .jt { background: url("img/next_btn.png") no-repeat; }

main .weekly .being_sold ul { width: 10000px; }

main .weekly .being_sold ul li { float: left; margin: 5px 20px 0; width: 160px; text-align: center; position: relative; overflow: hidden; }

main .weekly .being_sold ul li a { color: #555; }

main .weekly .being_sold ul li a p { height: 22px; text-align: center; }

main .weekly .being_sold ul li .s_gray { text-align: center; color: #999; }

main .weekly .being_sold ul li img { display: inline-block; width: 160px; }

main .weekly .trends { margin-top: 10px; }

main .weekly .trends .trends_cont { padding-bottom: 6px; }

main .weekly .trends .trends_cont a p { padding-left: 15px; width: 301px; height: 36px; line-height: 36px; font-size: 18px; background: rgba(255, 255, 255, 0.8); bottom: 20px; }

main .weekly .subscribe .subscr_c form { margin-top: 10px; padding-left: 40px; }

main .weekly .subscribe .subscr_c form input { padding-left: 36px; background: url(img/footico.gif) no-repeat -40px -31px; width: 124px; height: 25px; line-height: 25px; border: 1px solid #a3a3a3; color: #999; font-size: 12px; }

main .weekly .subscribe .subscr_c form button { margin-left: 5px; background: #000; color: #fff; width: 70px; height: 27px; line-height: 27px; text-align: center; border: none; }

footer { margin-top: 30px; border-top: 1px solid #e8e8e8; background: #fff; }

footer .foot_h { padding-top: 40px; height: 242px; background: #fff; }

footer .foot_h section { padding-top: 10px; height: 200px; border-right: 1px solid #e8e8e8; }

footer .foot_h .foot_h_1 ul { float: left; width: 149px; margin-bottom: 10px; }

footer .foot_h .foot_h_1 ul li { line-height: 25px; }

footer .foot_h .foot_h_1 ul li:first-child { margin-bottom: 8px; font-size: 14px; }

footer .foot_h .foot_h_2 { text-align: center; }

footer .foot_h .foot_h_2 span { padding-top: 5px; }

footer .foot_h .foot_h_2 h5 { line-height: 65px; font-size: 24px; }

footer .foot_h .foot_h_2 p { line-height: 30px; }

footer .foot_h .foot_h_3 { text-align: center; }

footer .foot_h .foot_h_3 p { padding: 5px 0 20px; font-size: 14px; }

footer .foot_h .foot_h_3 input { padding-left: 22px; width: 173px; height: 41px; border: 1px solid #e8e8e8; background: #f5f5f5; border-radius: 2px; line-height: 41px; }

footer .foot_h .foot_h_3 .subscribe { margin: 25px auto 0; background: #333; color: #fff; width: 197px; height: 49px; line-height: 49px; font-size: 14px; cursor: pointer; }

footer .foot_h .foot_h_4 { text-align: center; border: none; }

footer .foot_h .foot_h_4 .pl_20 { padding-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm { margin-left: 20px; }

footer .foot_h .foot_h_4 .pl_20 .ewm div { margin-top: 10px; padding: 20px; border: 1px solid #e8e8e8; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_app span { display: block; width: 67px; height: 67px; background: url(../img/down_app.png) no-repeat; }

footer .foot_h .foot_h_4 .pl_20 .ewm div.ewm_wx span { display: block; width: 67px; height: 67px; background: url(../img/ewm_wx.png) no-repeat; }

footer .foot_h .foot_h_4 p { color: #999; line-height: 60px; height: 60px; }

footer .foot_c { height: 280px; background: #414141; }

footer .foot_c .foot_c_top { height: 138px; line-height: 138px; color: #fff; font-size: 18px; }

footer .foot_c .foot_c_top span { display: inline-block; margin-right: 24px; width: 52px; height: 52px; background: url(img/footer_icon.png) no-repeat; vertical-align: middle; }

footer .foot_c .foot_c_top .foot_c_top_1 span { background-position: right 0; }

footer .foot_c .foot_c_top .foot_c_top_2 span { background-position: center 0; }

footer .foot_c .foot_c_top .foot_c_top_3 span { background-position: left 0; }

footer .foot_c .bg_border { width: 100%; border-bottom: 1px solid #4d4d4d; border-top: 1px solid #333; }

footer .foot_c .foot_c_bot { padding-top: 30px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l { border-right: 1px solid #4d4d4d; margin-left: -12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l li { float: left; width: 72px; height: 20px; text-align: center; border-left: 1px solid #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li:first-child { border: none; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a { color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_l li a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_l div { padding-left: 12px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div p { line-height: 47px; }

footer .foot_c .foot_c_bot .foot_c_bot_l div span { margin-right: 20px; }

footer .foot_c .foot_c_bot .foot_c_bot_r { border-left: 1px solid #333; text-align: center; }

footer .foot_c .foot_c_bot .foot_c_bot_r p { margin: 0 0 23px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r ul { padding-top: 4px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li { float: left; padding: 0 15px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li a { display: block; height: 23px; line-height: 23px; color: #999; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a { width: 18px; background: url(img/partner_icon.png) no-repeat 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_1 a:hover { background: url(img/footer_h.png) no-repeat; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a span { display: inline-block; width: 31px; height: 19px; vertical-align: middle; background: url(img/partner_icon.png) no-repeat -199px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover { color: #ccc; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_2 a:hover span { background: url(img/footer_h.png) no-repeat -209px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a { width: 68px; background: url(img/footer.png) no-repeat 0 -24px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_3 a:hover { background-position: 0 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a { margin-top: -4px; width: 72px; height: 31px; background: url(img/partner_icon.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_4 a:hover { background: url(img/footer_h.png) no-repeat -127px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a { width: 60px; background: url(img/partner_icon.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_5 a:hover { background: url(img/footer_h.png) no-repeat -66px 0; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a { width: 77px; background: url(img/footer.png) no-repeat -77px -23px; }

footer .foot_c .foot_c_bot .foot_c_bot_r li.partner_6 a:hover { background-position: -77px 0; }
